<h1 class="mb-4 text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl">Point Salad
</h1>

<!-- DRAW PILES -->
<div>
</div>

<!-- MARKET -->
<div class="bg-lime-100">
  <h2 class="text-4xl font-extrabold">Market</h2>
  <!-- CARDS -->
  <div class="grid grid-rows-2 grid-flow-col gap-4">
    <div *ngFor="let veggie of veggies" (click)="selectVeggie(veggie)" class="{{veggie.color}} rounded-md text-center">
      <p class="text-white p-5 font-bold">{{ veggie.name }}</p>
    </div>
  </div>
</div>

<!-- TABLEAU -->
<div class="bg-lime-100">
  <h2 class="text-4xl font-extrabold">Collection</h2>
  <p *ngFor="let veggieName of veggieTypes">{{ veggieName }}: {{ countCollected(veggieName) }}</p>
</div>

<router-outlet></router-outlet>